.head_right{
    position: relative;
    z-index: 1;
}
.profile {
    position: fixed;
    margin: 5px 15px 5px 5px;
    top: 20px;
    right: 10px;
    z-index: 2;
  }
.profile_dropdown{
    position: fixed;
    top: 95px;
    padding: 80px 60px 40px 30px;
    background-color: #255049;
    right: 0; 
    z-index: 1;     
}
.dropdown_elements{
    display: flex;
    flex-direction: column;  
    color: antiquewhite;
}
.profile_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 0px;
    text-decoration: none;
    color: antiquewhite;  
    justify-content: space-between;
}
.profile_link:hover {
    background-color: #3a697e; /* Optional: Add a background color on hover */
  }

  .profile_pic{
    position: fixed;
    display: inline-flex;
    top: 100px;
    right: 20px;
    width: auto;
    height: 50px;
    justify-content: space-between;
  }
  .profile_pic h4{
    padding-top: 0px;
    padding-left: 0.5rem;
  }
  
  .logo {
    border-radius: 50%;
    width: 40px;  /* Set the width of the image */
    cursor: pointer;
  }
hr{
    position: fixed;
    width: 140px;
    height: 1.5px;
    margin: 5px 15px;
    top: 155px;
    right: -5px;
    background-color: black;
    border: 0;  
}
